/*===== GOGGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

/*===== VARIABLES SCSS =====*/
$header-height: 3rem;

/*=== Colores ===*/
:root {
  --first-color: #0396a6;
  --dark-color: #000;
  --white-color: #f2f2f2;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Open Sans', sans-serif;

  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  @media screen and (min-width: 768px) {
    --biggest-font-size: 7rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=== z index ===*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  //background-color: var(--dark-color);
  margin: 0;
  font-family: var(--body-font);
}
h1,
h2,
h3,
p {
  margin: 0;
  text-align: justify;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*===== LAYOUT =====*/

.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*===== Scroll Efect =====*/
.scroll {
  position: sticky !important;
  top: 0;
  transition: all 300ms ease-in-out !important;
  background-color: rgba(39, 55, 70, 0.6) !important;
}

.l-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: all 300ms ease-in-out;
  z-index: var(--z-modal);
}

/*===== NAVBAR =====*/
.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

  &__menu {
    @media screen and(max-width: 768px) {
      position: fixed;
      left: 0%;
      top: -100%;
      background-color: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 40%;
      padding: 2rem;
      text-align: center;
      z-index: var(--z-fixed);
      transition: 0.3s;
    }
  }

  &__logo {
    color: var(--white-color);
  }

  &__item {
    margin-bottom: 2rem;
  }
  &__link {
    color: var(--white-color);
  }
  &__toggle {
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
  }
}

/*=== Show menu ===*/
.show {
  top: $header-height;
}

/*===== HOME =====*/
.home {
  height: 100vh;
  overflow: hidden;
  position: relative;

  &__parallax {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
      height: 100vh;
      width: 100vw;
    }
  }

  &__title,
  &__subtitle {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--white-color);
  }
  &__title {
    top: 32%;
    font-size: var(--biggest-font-size);
    z-index: var(--z-normal);
  }
  &__subtitle {
    top: 44%;
    font-size: var(--h2-font-size);
    font-weight: bold;
    z-index: var(--z-tooltip);
  }
  &__scroll {
    position: absolute;
    bottom: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    z-index: var(--z-modal);

    & .bx-mouse {
      color: var(--white-color);
    }
  }
}

/*===== SECTION =====*/
.l-section {
  background-color: var(--dark-color);
}

.section {
  height: 100vh;
  max-width: 950px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 0;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__data {
    margin-bottom: 3rem;
  }
  &__title {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 1rem;
  }
  &__img {
    width: 285px;
    border-radius: 0.5rem;
  }
}

/* ===== Skills ==== */

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--dark-color);
  color: var(--white-color);
  font-family: 'Raleway', sans-serif;

  h3 {
    color: var(--first-color);
    letter-spacing: 1.5px;
    font-size: 2rem;
  }
}

.level {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 2rem 1rem;

  &-image {
    margin-top: 3rem;
    width: 285px;
  }

  &-color {
    margin: 1rem 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    p {
      color: #d5dbdb;
    }
    span {
      font-weight: 700;
    }
  }
}

@media screen and (min-width: 760px) {
  .levels {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3rem 1rem;

    .level-color {
      margin-left: 12rem;
      font-size: 1.7rem;
    }

    .level-image {
      width: 500px;
      margin: auto;
    }
  }
}

/* ===== Card ==== */

.card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 30px;
  row-gap: 30px;
  //grid-template-columns: repeat(3, 1fr);
  /*  display: flex;
  flex-flow: row wrap;
  justify-content: center; */

  background-color: var(--dark-color);
}

.card-body {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  width: auto;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #17202a;
  box-shadow: 20px 20px 60px #17202a, -20px -20px 60px #17202a;
  font-family: 'Raleway', sans-serif;

  .card-svg-logo {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;

    img {
      width: 60%;
      height: auto;
    }
  }
  .card-name {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 2.5rem;
      letter-spacing: 3px;
      color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 2rem;
    }

    .progress {
      margin-left: 2rem;
      background-color: #d8d8d8;
      border-radius: 20px;
      position: relative;
      margin: 15px 0;
      height: 30px;

      &-done {
        border-radius: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        opacity: 0;
        font-weight: 700;
        letter-spacing: 1px;
        transition: 1s ease 0.3s;
      }
    }
  }

  .card-type {
    border-top: 1px solid gray;

    color: var(--white-color);

    p {
      margin-top: 1rem;
      font-size: 16px;
      text-align: center;
      letter-spacing: 1px;

      span {
        color: #d0d3d4;
        font-weight: 600;
      }
    }
  }
}
/*===== MEDIA QUERIES =====*/

@media screen and (max-width: 1167px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
}

/* @media screen and (max-width: 843px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
} */
@media screen and(min-width: 760px) {
  .nav {
    height: $header-height + 1rem;

    &__list {
      display: flex;
    }
    &__item {
      margin-right: 3rem;
      margin-bottom: 0;
    }
    &__toggle {
      display: none;
    }
  }
  .home {
    &__title {
      top: 27%;
    }
    &__subtitle {
      top: 50%;
    }
  }

  .section {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

    &__text {
      padding-right: 4rem;
    }

    &__img {
      width: 470px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
